{% extends 'base.html' %}
{% block content %}
    <h1 class="mt-5">{{ contact.name }} {{ contact.last_name }}</h1>
    {% if contact.pic %}
      <p>
        <img src="{{ contact.pic.url}}" style="max-width: 250px;height: auto;">
      </p>
    {% endif %}
        <dl>
            <dt>ID</dt>
            <dd>{{ contact.id }}</dd>

            <dt>Phone Number</dt>
            <dd>{{ contact.phone }}</dd>

            <dt>email</dt>
            <dd>{{ contact.email }}</dd>

            <dt>Created At</dt>
            <dd>{{ contact.created_at | date:'M d Y'}}</dd>

            <dt>Category</dt>
            <dd>{{ contact.category }}</dd>

            <dt>Description</dt>
            <dd>
                {{ contact.description }}
            </dd>
        </dl>

      </div>
    </div>
  </div>
{% endblock %}